#answer-view {
    -fx-pref-width: 500;
    -fx-pref-height: 300;
    -fx-vgap: 10;
    -fx-hgap: 10;
}

#add-answer-area {
    -fx-pref-width: 500;
    -fx-pref-height: 200;
    -fx-padding: 10;
    -fx-vgap: 10;
    -fx-hgap: 10;
}

#add-answer-button {
    -fx-pref-width: 105;
    -fx-pref-height: 20;
    -fx-vgap: 10;
    -fx-hgap: 10;
}

#add-another-question {
    -fx-pref-width: 130;
    -fx-pref-height: 20;
    -fx-vgap: 10;
    -fx-hgap: 10;
}

#radios {
    -fx-vgap: 10;
    -fx-hgap: 10;
}

#user-controls {
    -fx-hgap: 10;
    -fx-vgap: 10;
}
