#editor {
    -fx-pref-width: 625;
    -fx-pref-height: 530;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

#header {
    -fx-background-color: #889499;
    -fx-padding: 15, 12, 15, 12;
    -fx-spacing: 10;
    -fx-hgap: 10;
}

