#error {
    -fx-pref-width: 625;
    -fx-pref-height: 30;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

#error-label {
    -fx-font-size: 16px;
    -fx-font-family: "Arial Black";
    -fx-text-fil: red;
}